/* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
form span{
  display:flex; padding-left: 20px; font-size: 1.7em; align-items: center; height: 5vh;
}
form span i:hover{
 /* color: #550000fa;*/
  cursor: pointer;
}
#titre{
    margin-left: 13px; width: 10%;
}
.modal1{
  display: none;
  position: absolute;
  z-index: 100;
  top: 25%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.modal2{
  display: none;
  position: absolute;
  z-index: 100;
  top: 25%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.modal3{
  display: none;
  position: absolute;
  z-index: 100;
  top: 25%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.modal4{
  display: none;
  position: absolute;
  z-index: 100;
  top: 25%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}
.modal1 span{
  width: 100%;
  display: flex;
  justify-content: right;

}
.modal1 span i{
  /*color: #550000fa;*/
  cursor: pointer;
  font-size: 2em;

}

.modal2 span{
  width: 100%;
  display: flex;
  justify-content: right;

}
.modal2 span i{
 /* color: #550000fa; */
  cursor: pointer;
  font-size: 2em;

}

.modal3 span{
  width: 100%;
  display: flex;
  justify-content: right;

}
.modal3 span i{
  color: #6cb6e7fa; 
  cursor: pointer;
  font-size: 2em;

}
.modal4 span{
  width: 100%;
  display: flex;
  justify-content: right;

}
.modal4 span i{
 /* color: #550000fa;*/
  cursor: pointer;
  font-size: 2em;

}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}
h4 {
  /*color: #550000fa;*/
}
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 70%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #bd8200;
}
input:focus + .input-icon i {
  color: rgb(1, 87, 74);
}
input:focus + .input-icon:after {
  border-right-color: #550000fa;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: rgb(1, 87, 74);
  color: #fff;
  border: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: rgb(1, 87, 74);
  color: #fff;
  
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
  width: 90%;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.containerform {
  max-width: 60em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

#containergrade {
  max-width: 80em;
  width: 30em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #ddd;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4.2px;
  -moz-border-radius: 4.2px;
  -ms-border-radius: 4.2px;
  -o-border-radius: 4.2px;
}

#containerspecialite {
  max-width: 80em;
  width: 30em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #ddd;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4.2px;
  -moz-border-radius: 4.2px;
  -ms-border-radius: 4.2px;
  -o-border-radius: 4.2px;
}

#containerlaboratoire {
  max-width: 80em;
  width: 30em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #ddd;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4.2px;
  -moz-border-radius: 4.2px;
  -ms-border-radius: 4.2px;
  -o-border-radius: 4.2px;
}

#containerdelegue {
  max-width: 80em;
  width: 30em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #ddd;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4.2px;
  -moz-border-radius: 4.2px;
  -ms-border-radius: 4.2px;
  -o-border-radius: 4.2px;
}

.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
    #titre{
    margin-left: 13px; width: 50%;
}
  input,
    input[type="radio"] + label,
    input[type="checkbox"] + label:before,
    select option,
    select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    }
}

@media only screen and (max-width: 900px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
  #titre{
    margin-left: 13px; width: 50%;
  }
    input,
    input[type="radio"] + label,
    input[type="checkbox"] + label:before,
    select option,
    select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    }

  .modal1{
  display: none;
  position: absolute;
  z-index: 100;
  top: 60%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  }

  .modal2{
    display: none;
    position: absolute;
    z-index: 100;
    top: 60%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
  }

  .modal3{
    display: none;
    position: absolute;
    z-index: 100;
    top: 60%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
  }
  
}
