<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    <IfModule mod_headers.c>
        # On vérifie si l'origine qui appelle est soit ta PWA, soit ton autre sous-domaine
        SetEnvIf Origin "https://pwa.socediamn.org" ALLOWED_ORIGIN=$0
        SetEnvIf Origin "https://api.socediamn.org" ALLOWED_ORIGIN=$0
        # Ajoute d'autres lignes SetEnvIf si tu as d'autres sous-domaines
        
        # On applique l'en-tête uniquement si l'origine correspond à l'une des deux
        Header set Access-Control-Allow-Origin %{ALLOWED_ORIGIN}e env=ALLOWED_ORIGIN
        
        # Optionnel : Autoriser les méthodes et headers
        Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
        Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    </IfModule>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
